.ba-section {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: white;
}
/* Image */
.ba-image-content {
    width: 50%;
    max-width: 100%;
    text-align: center;
}
.ba-image1 {
    width: 80%;
    height: auto;
}
/* Text */
.ba-text-content {
    width: 50%;
}
.ba-title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: .5px;
    color: #1a1a1a;
}
.ba-title > span {
    position: relative;
}
.ba-title span::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -10px;
}
.ba-description {
    margin: 24px 0;
    color: #555;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 1.8rem;
}
/* Checks */
.ba-checks {
    margin: 16px 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .7px;
}
.ba-check-first {
    margin-top: 24px;
}
.ba-check-last {
    margin-bottom: 24px;
}
/* Book Appointment Button */
.ba-appointment-btn {
    padding: 14px 28px;
    color: white;
    border: none;
    border-radius: 50px;
    outline: transparent;
    background: linear-gradient(135deg, #0C8346 0%, #096836 100%);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 8px 20px rgba(12, 131, 70, 0.2);
}
.ba-appointment-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgba(12, 131, 70, 0.3);
    background: linear-gradient(135deg, #0e9651 0%, #0b7a40 100%);
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .ba-section {
        display: block;
    }
    .ba-image-content {
        width: 100%;
        max-width: 100%;
        margin: 0 0 24px 0;
    }
    .ba-text-content {
        width: 100%;
    }
    .ba-image1 {
        width: 80%;
        height: 80%;
    }
}

/* For screens less than 600px */
@media screen and (max-width: 600px) {
    .ba-section {
        padding: 16px;
    }
    .ba-image-content,
    .ba-text-content {
        width: 100%;
        max-width: 100%;
    }
    .ba-image1 {
        width: 100%;
        height: auto;
    }
    .ba-title {
        font-size: 24px;
        letter-spacing: 0.5px;
    }
    .ba-title > span::before {
        width: 60%;
        bottom: -8px;
    }
    .ba-description {
        font-size: 14px;
        letter-spacing: 0.6px;
        line-height: 1.4rem;
        margin: 16px 0;
    }
    .ba-checks {
        font-size: 14px;
        letter-spacing: 0.5px;
        margin: 12px 0;
    }
    .ba-appointment-btn {
        padding: 12px 16px;
        font-size: 16px;
    }
}
.ba-icon-blue {
    color: #1E8FFD;
}
